/* header */
.headercontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family:'Helvetica', Tahoma, Geneva, sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    align-items: center;
    flex: auto;
    font-size: 12px;
}

ul {
    list-style: none;
    margin: 10px;
    padding: 10px;
    display: flex;
     align-self: flex-end;
     gap: 20px;
     
}

a {
    text-decoration: none;
    color: white;

}

li {
    align-items: flex-end;
    display: flex; 
    margin-bottom: 15px;
    margin-top: 15px;
}

.left {
    font-size: larger;
}
/* header */

/*info*/
.infocontainer {
    display: flex;
    font-family:'Helvetica', Tahoma, Geneva, sans-serif;
    color: white;
    background-color: #1F2937;
    justify-content: space-around;
}

.info {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.h1_info {
    display: flex;
    margin-top: 0;
    margin-left: 33%;
    margin-right: 20%;
    margin-bottom: 0;
    flex-wrap: wrap;
    font-size: 48px;
    
}

.para {
    display: flex;
    flex-wrap: wrap;
    margin-left: 33%;
    margin-right: 30%;
    font-size: 18px;
}

.button {
    margin-left: 33%;
    margin-bottom: 13%;
    background-color: #3882F6;
    color: white;
    display: flex;
    font-size: 12px;
    border-radius: 15%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.logosocial {
    margin-right: 270px;
    display: flex;
    flex-wrap: wrap;
    
}

/*info*/

/*cards*/
.container {
    display: flex;
    flex-direction: column;
    
}

.cardinfo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    
}

.card {
    border-color: #3882F6;

}
/*cards*/