/* header */
.headercontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family:'Helvetica', Tahoma, Geneva, sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    align-items: center;
}

ul {
    list-style: none;
    margin: 10px;
    padding: 10px;
    display: flex;
     align-self: flex-end;
     gap: 20px;
}

a {
    text-decoration: none;
    color: white;

}

li {
    align-items: flex-end;
    display: flex; 
    margin-bottom: 15px;
    margin-top: 15px;
}

.left {
    font-size: larger;
}
/* header */

/*info*/
.infocontainer {
    display: flex;
    font-family:'Helvetica', Tahoma, Geneva, sans-serif;
    color: white;
    background-color: #1F2937;

}

.info {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.h1_info {
    display: flex;
    margin-top: 0;
    margin-left: 8%;
    margin-right: 25%;
    margin-bottom: 0;
    flex-wrap: wrap;
}

.para {
    display: flex;
    flex-wrap: wrap;
    margin-left: 8%;
    margin-right: 12%;
}
/*info*/